# What is a data format?

## Case I:

In [1]:
import pandas as pd
import numpy as np

n_rows = 100

In [2]:
dataset = pd.DataFrame(
    data={
        'string': np.random.choice(('Python', 'C/C++', 'Julia', 'Fortran', 'Rust'), size=n_rows),
        'timestamp': pd.date_range("20231107", periods=n_rows, freq="s"),
        'integer': np.random.choice(range(0,10), size=n_rows),
        'float': np.random.uniform(size=n_rows),
    },
)

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   string     100 non-null    object
 1   timestamp  100 non-null    datetime64[ns]
 2   integer    100 non-null    int64
 3   float      100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 3.2+ KB

In [4]:
dataset

     string           timestamp  integer     float
0     Julia 2023-11-07 00:00:00        9  0.510771
1      Rust 2023-11-07 00:00:01        6  0.854238
2     Julia 2023-11-07 00:00:02        9  0.496505
3      Rust 2023-11-07 00:00:03        7  0.518426
4      Rust 2023-11-07 00:00:04        8  0.736142
..      ...                 ...      ...       ...
95  Fortran 2023-11-07 00:01:35        0  0.654922
96    Julia 2023-11-07 00:01:36        4  0.691460
97    Julia 2023-11-07 00:01:37        7  0.972603
98  Fortran 2023-11-07 00:01:38        9  0.275145
99     Rust 2023-11-07 00:01:39        4  0.634709

[100 rows x 4 columns]

## Case 2: 2D matrix

In [5]:
n = 100
data_array = np.random.uniform(size=(n,n))

In [6]:
np.info(data_array)

class:  ndarray
shape:  (100, 100)
strides:  (800, 8)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x128080000
byteorder:  little
byteswap:  False
type: float64

In [7]:
data_array

array([[0.25262932, 0.73094171, 0.29586276, ..., 0.11120194, 0.10545683,
        0.13202983],
       [0.01833595, 0.20387415, 0.19226489, ..., 0.71060202, 0.6474888 ,
        0.62997854],
       [0.19776263, 0.69351864, 0.59860111, ..., 0.79547025, 0.81232161,
        0.36028388],
       ...,
       [0.14424406, 0.89133948, 0.96405013, ..., 0.08030253, 0.13785457,
        0.25431041],
       [0.06875605, 0.1141743 , 0.01264874, ..., 0.91165192, 0.96974007,
        0.68120312],
       [0.67665551, 0.77951685, 0.63386668, ..., 0.98232773, 0.74174948,
        0.08203269]])

In [8]:
print(data_array.size)
print(data_array.shape)

10000
(100, 100)

In [9]:
np.info(data_array)

class:  ndarray
shape:  (100, 100)
strides:  (800, 8)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x128080000
byteorder:  little
byteswap:  False
type: float64